**/__pycache__/
.idea/

UniHub_backend/media
# Ignore all migration files except __init__.py
**/migrations/*
!**/migrations/__init__.py
media/community/
media/posts/
media/profile_pics/
!media/profile_pics/user-image.jpg