<!-- No DOCTYPE, html, head, or body tags -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index_page'%}">UNI-HUB</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarNav" aria-controls="navbarNav" 
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index_page'%}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile_page'%}">Profile</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{% url 'search_page'%}">Search</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faq_page'%}">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 